gurobipy==11.0.3
nvidia-nvjitlink-cu12==12.5.82
nvidia-cusparse-cu12==12.5.1.3
nvidia-cublas-cu12==12.5.3.2
mpmath==1.3.0
MarkupSafe==3.0.1
filelock==3.16.1
typing_extensions==4.12.2
triton==3.0.0
sympy==1.13.3
packaging==24.1
nvidia-nvtx-cu12==12.1.105
nvidia-nccl-cu12==2.23.4
nvidia-cusolver-cu12==11.6.3.83
nvidia-curand-cu12==10.3.6.82
nvidia-cufft-cu12==11.2.3.61
nvidia-cudnn-cu12==9.3.0.75
nvidia-cuda-runtime-cu12==12.5.82
nvidia-cuda-nvrtc-cu12==12.5.82
nvidia-cuda-cupti-cu12==12.5.82
numpy==1.26.4
networkx==3.2.1
llvmlite==0.43.0
Jinja2==3.1.4
fsspec==2024.9.0
torch==2.4.1
tifffile==2024.8.30
scipy==1.13.1
roifile==2024.9.15
QtPy==2.4.1
PyQt6_sip==13.8.0
PyQt6-Qt6==6.7.3
Pygments==2.18.0
opencv-python-headless==4.10.0.84
numba==0.60.0
natsort==8.4.0
imagecodecs==2024.9.22
fastremap==1.15.0
superqt==0.6.7
pyqtgraph==0.13.7
PyQt6==6.7.1
cellpose==3.0.11
smmap==5.0.2
urllib3==1.26.20
typing-inspection==0.4.0
pydantic_core==2.33.1
gitdb==4.0.12
certifi==2025.1.31
annotated-types==0.7.0
setproctitle==1.3.5
sentry-sdk==2.26.1
pydantic==2.11.3
protobuf==5.29.4
platformdirs==4.3.7
GitPython==3.1.44
eval_type_backport==0.2.2
docker-pycreds==0.4.0
click==8.1.8
wandb==0.19.9
zipp==3.22.0
mdurl==0.1.2
markdown-it-py==3.0.0
importlib_metadata==8.7.0
wheel==0.45.1
Werkzeug==3.1.3
tensorboard-data-server==0.7.2
rich==14.0.0
optree==0.16.0
namex==0.1.0
ml_dtypes==0.5.1
Markdown==3.8
h5py==3.13.0
grpcio==1.71.0
absl-py==2.3.0
wrapt==1.17.2
termcolor==3.1.0
tensorflow-io-gcs-filesystem==0.37.1
tensorboard==2.19.0
opt_einsum==3.4.0
libclang==18.1.1
google-pasta==0.2.0
gast==0.6.0
flatbuffers==25.2.10
astunparse==1.6.3
tensorflow==2.19.0
typeguard==2.13.3
nvidia-cuda-nvcc-cu12==12.5.82
tensorflow-addons==0.23.0.dev0
keras==3.10.0
pyparsing==3.2.3
pillow==11.2.1
kiwisolver==1.4.7
importlib_resources==6.5.2
fonttools==4.58.1
cycler==0.12.1
contourpy==1.3.0
matplotlib==3.9.4
tzdata==2025.2
pytz==2025.2
python-dateutil==2.9.0.post0
pandas==2.2.3
imageio==2.37.0
pyfiglet==1.0.2
dbus-python==1.2.18
PyGObject==3.40.1
ruamel.yaml.clib==0.2.7
PyYAML==5.4.1
systemd-python==234
lxml==4.6.5
pycairo==1.20.1
cytoolz==0.11.2
libcomps==0.1.18
perf==0.1
gpg==1.15.1
psutil==5.8.0
Brlapi==0.8.2
pycosat==0.6.3
pycups==2.0.1
rpm==4.16.1.3
pycurl==7.43.0.6
selinux==3.6
setools==4.4.4
conda-package-handling==1.7.3
cffi==1.14.5
cryptography==36.0.1
six==1.15.0
setuptools==53.0.0
distro==1.5.0
dasbus==1.4
idna==2.10
python-dateutil==2.8.1
pyudev==0.22.0
chardet==4.0.0
conda==4.14.0
ptyprocess==0.6.0
pexpect==4.8.0
PySocks==1.7.1
urllib3==1.26.5
requests==2.25.1
pyOpenSSL==21.0.0
pyenchant==3.2.0
pyxdg==0.27
file-magic==0.4.0
setroubleshoot==3.3.32
cupshelpers==1.0
python-linux-procfs==0.7.3
nftables==0.1
sepolicy==3.6
tqdm==4.65.0
ruamel.yaml==0.16.6
toolz==0.11.2
frozendict==1.2
py-cpuinfo==8.0.0
ply==3.11
pycparser==2.20
cockpit==323.1
sos==4.8.2
pip==21.3.1
